body{
  font-family: 'Merriweather', serif;
  font-size: 3rem;
}
.bodyColorFirstScreen {
  background-color: white;
}

.bodyColorSecondScreen {
  background-color: black;
}

.h1FirstColor {
  color: black;
  text-align: center;
}

.h1SecondColor {
  color: white;
  text-align: center;
}
h1{
  margin-top: 20%;
}
